/****************
Grid layout test
*****************/
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto; 
	grid-gap: 3%;
	grid-row-gap: 40px;
	padding: 30px;
}

li {
	list-style-type: none;
}

.grid-item {
	border: 1px solid grey;
	height: 180px;
	border-radius: 5px;
	
}

.profile_container {
	border: 1px solid grey;
	border-radius: 3px;
	max-width: 33%;
	height: 170px;
}

.profile_info {
	position: relative;
	bottom: 12.5px; 
	left: -20px;
}


img {
	position: relative;
	top: 30px;
	left: 20px;
	border-radius: 50%;

}



/****************
Profile Information Rules
*****************/
 
.attr {
	position: relative;
	left: 37%;
	bottom: 60px;
	font-family: Verdana;
	font-size: 8pt;
	margin: 0 30px;
	padding: 5px;
	overflow: auto;
}

.name {
	font-weight: bold;
	padding-bottom: 3px;
}

.details {
	color: #c1c1c1;
}



/****************
Modal
*****************/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 25%; /* Could be more or less, depending on screen size */
    height: 60%;
    font-size: 12pt;
    text-align: center;
    font-family: Verdana;

}


.modal-content img {
	left: 1px;
}

.modal-content ul {
	padding: 30px;
	color: #c1c1c1;
}

.modal-content li {
	padding: 2px;
}

/* Modal Content Style */ 
#name {
	font-weight: bold;
	color: black;
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
   
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





